.green {
    background-color: #16c2a3;
    padding-bottom: 60px;
    .content {
        @include container;
        .text2 {
            padding-top: 115px;
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom:140px;
            .line {
                width: 60px;
                height: 2px;
                background-color: #17947e;

            }
            h3 {
                font-size: 30px;
                letter-spacing: 2px;
                padding-bottom: 30px;
            }
            p {
                padding-top: 30px;
            }
        }
        .purpleinside {
            background-color: #864f9c;
            display: flex;
            justify-content: space-around;
            padding-bottom: 10px;
            .first {
                text-align: center;
                img {
                    position: relative;
                    top: -40px;
                    height: 130px;
                    
                }
                h6 {
                    color: white;
                    font-size: 20px;
                    padding-bottom: 20px;
                    font-family: monospace;
                }
                p {
                    color: white;
                    font-family: monospace;
                }
            }
        }
    }
}